body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    margin-block-start: 20px;
    display: grid;
    place-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball1{
    background-color: bisque;
}

.ball2 {
    background-color: rgb(136, 225, 237);

}

.ball3 {
    background-color: rgb(203, 113, 163); 
}

.ball4 {
    background-color: rgb(236, 230, 64); 
}