body {
    background-color: black;
    text-align: center;
    font-family: monospace;
}

header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:"h1 undo redo move    timer-title"
                        "h1 undo redo counter timer";
    place-items: center;
    place-content: center;
}

button:hover{
    cursor: pointer;
}

.undoBtn{
    grid-area:undo;
}

.redoBtn{
    grid-area:redo;
}

.counter{
    grid-area:counter;
}

.timer{
    grid-area:timer;
}

.counter-title, .timer-title{
    background-color:bisque;
    border-radius: 10%;
    font-size: 22px;
    font-weight: bold;
}

.counter-title{
    grid-area:move;
}

.timer-title{
    grid-area:timer-title;
}

.counter, .timer{
    background-color:bisque;
    border-radius: 10%;
    width: 20px;
    font-size: 22px;
    font-weight: bold;
}

.grid-container{
    display: grid;
    grid-template-columns: 50vw 50vw;
    place-items: center;
}

h1 {
    grid-area: h1;
    color: white;
}

.ball {
    margin-block-start: 20px;
    display: grid;
    place-items: center;

    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
}

.ball:hover{
    cursor: pointer;
}


.ball1{
    background-color: bisque;
}

.ball2 {
    background-color: rgb(136, 225, 237);

}

.ball3 {
    background-color: rgb(203, 113, 163); 
}

.ball4 {
    background-color: rgb(236, 230, 64); 
}

.ball5 {
    background-color: rgb(194, 212, 212); 
}

.ball6 {
    background-color: rgb(201, 162, 194);
 
}